* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container_1 li, a {
    font-weight: 500;
    font-size: 18px;
    color: rgb(124,124,124);
    text-decoration: none;
}

.container_1 {
    margin: 10px 10px 10px;
}

.container_1 header {
    background-color: white;
    border-bottom: 1px solid gray;
    box-shadow: 0px 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10% 20px;
}

.logo {
    cursor: pointer;
}

.top_bar {
    list-style: none;
}

.top_bar li {

    display: inline-block;
    padding: 0px 20px;
}

.top_bar li a {
    transition: all 0.3 ease 0s;
}

.top_bar li a:hover {
    color: black;
}
    
.top_bar li a:active {
    color: rgb(154, 239, 154);
}

.about_us_container_1 {
    margin: 10px 10px 10px;
    background-color: #90ee90;
    color: white;
}

.about_us_container_1 .content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us_container_1 .content #text_1 {
    padding: 10px 10%;
    float: left;
}

.about_us_container_1 .content #text_2 {
    padding: 10px;
    padding-right: 200px;
    padding-top: 10%;
    padding-bottom: 5%;
    float: right;
    display: inline;
    font-size: 20px;
}

.container_2
{
    background-color: gray;
    box-sizing: border-box;
    margin: 10px 10px 10px;
}

.container_2 .content_1
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_2 .content_1 .text
{
    color: black;
    max-width: 50%;
    padding-right: 2%;
    float: left;
    display: inline;
    font-size: 120%;
}

.container_2 .content_1 #map
{
    padding-top: 2%;
    float: right;
    display: inline;
}

.container_4 li, a {
    font-weight: 500;
    font-size: 18px;
    color: rgb(124,124,124);
    text-decoration: none;
}

.container_4 {
    margin: 10px 10px 10px;
}

.container_4 header {
    background-color: white;
    border-top: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.contact_container_1 {
    margin: 10px 10px 10px;
    background-color: #90ee90;
    color: white;
}

.contact_container_1 .content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact_container_1 .content #text_1 {
    padding: 10px 10%;
    float: left;
}

.contact_container_1 .content #text_2 {
    padding: 10px;
    padding-right: 200px;
    padding-top: 10%;
    padding-bottom: 5%;
    float: right;
    display: inline;
    font-size: 20px;
}