* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.top li, a {
    font-weight: 500;
    font-size: 18px;
    color: rgb(124,124,124);
    text-decoration: none;
}

.top {
     margin: 1% 1% 1%;
}

.top header {
    background-color: white;
    border-bottom: 1px solid gray;
    box-shadow: 0px 2px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10% 20px;
}

.logo {
    cursor: pointer;
}

.top_bar {
    list-style: none;
}

.top_bar li {

    display: inline-block;
    padding: 0px 20px;
}

.top_bar li a {
    transition: all 0.3 ease 0s;
}

.top_bar li a:hover {
    color: black;
}
    
.top_bar li a:active {
    color: rgb(154, 239, 154);
}

.about_us_container {
    margin: 1% 1% 1%;
    background-color: #90ee90;
    color: white;
}

.about_us_container .content {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about_us_container .content #text_1 {
    padding: 10px 10%;
    float: left;
}

.about_us_container .content #text_2 {
    padding: 10px;
    padding-right: 200px;
    padding-top: 10%;
    padding-bottom: 5%;
    float: right;
    display: inline;
    font-size: 20px;
}

.banner-outter {
    margin: 1% 1% 1%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #d3d3d3;
}

.banner-outter .banner-inner {
    margin: 0% 2% 0%;
    background-color: #d3d3d3;
}

.banner-outter .banner-inner p {
    text-align: center;
    color: white;
    font-size: 250%;
    font-weight: bolder;
}

.cards {
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards :hover {
    border-radius: 20px;
    background-color: #eeeeee;
    color: rgb(28, 28, 28);
}

.card {
    margin: 1% 1% 1%;
    border-radius: 20px;
    max-width: fit-content;
    max-height: fit-content;
    background-color: white;
}

.card img {
    width: 100%;
    margin: auto;
    padding-left: 2.5%;
    padding-right: 2.5%;
    padding-top: 5%;
    object-fit: cover;
}


.card .container p {
    text-align: justify;
    font-weight: bolder;
    font-size: 130%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 10%;
}

.bottom li, a {
    font-weight: 500;
    font-size: 18px;
    color: rgb(124,124,124);
    text-decoration: none;
}

.bottom {
    margin: 1% 1% 1%;
}

.bottom header {
    background-color: white;
    border-top: 2px solid black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

@media screen and (max-width: 1024px) {
    .cards{
        grid-template-columns: 1fr;
        gap: 2rem;
   }
}

@media screen and (max-width: 600px) {
    .cards {
        width: 90%;
        max-height: fit-content;
    }
} 